@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    --background: 205 67% 98%;
    --foreground: 205 75% 5%;
    --muted: 205 29% 85%;
    --muted-foreground: 205 1% 26%;
    --popover: 205 67% 98%;
    --popover-foreground: 205 75% 5%;
    --card: 205 67% 98%;
    --card-foreground: 205 75% 5%;
    --border: 205 7% 89%;
    --input: 205 7% 89%;
    --primary: 205 37% 55%;
    --primary-foreground: 0 0% 0%;
    --secondary: 205 8% 83%;
    --secondary-foreground: 205 8% 23%;
    --accent: 205 8% 83%;
    --accent-foreground: 205 8% 23%;
    --destructive: 10 87% 30%;
    --destructive-foreground: 10 87% 90%;
    --ring: 205 37% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 205 57% 4%;
    --foreground: 205 15% 100%;
    --muted: 205 29% 15%;
    --muted-foreground: 205 1% 74%;
    --popover: 205 57% 4%;
    --popover-foreground: 205 15% 100%;
    --card: 205 57% 4%;
    --card-foreground: 205 15% 100%;
    --border: 205 7% 11%;
    --input: 205 7% 11%;
    --primary: 205 37% 55%;
    --primary-foreground: 0 0% 0%;
    --secondary: 205 17% 11%;
    --secondary-foreground: 205 17% 71%;
    --accent: 205 17% 11%;
    --accent-foreground: 205 17% 71%;
    --destructive: 10 87% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 205 37% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}
